<div class="w-full text-white rounded-lg">
  <h2 class="text-2xl font-semibold mb-4 text-center">Add New Product</h2>

  <form [formGroup]="productForm" (ngSubmit)="handleSubmit()" class="flex flex-col gap-4">
    <div>
      <app-input
        type="text"
        formControlName="productName"
        label="Product Name"
        placeholder="Enter product name"
        [error]="productForm.controls['productName'].invalid && productForm.controls['productName'].touched"
      />
      <div *ngIf="productForm.controls['productName'].invalid && productForm.controls['productName'].touched"
           class="text-red-500 text-sm">
        Product name is required.
      </div>
    </div>

    <app-textarea
      formControlName="description"
      placeholder="Enter description"
      [rows]="4"
      errorMessage="Description should not exceed 100 characters."
      [error]="productForm.controls['description'].invalid && productForm.controls['description'].touched"
    ></app-textarea>

    <div>
      <app-input-number
        formControlName="price"
        label="Price"
        placeholder="Enter price"
        [error]="productForm.controls['price'].invalid && productForm.controls['price'].touched"
      />
      <div *ngIf="productForm.controls['price'].invalid && productForm.controls['price'].touched"
           class="text-red-500 text-sm">
        Price should be a number.
      </div>
    </div>

    <div class="flex gap-4 mt-6">
      <app-button type="button" class="w-full" variant="outline" (click)="handleClose()">Close</app-button>
      <app-button type="submit" class="w-full" variant="secondary">Create</app-button>
    </div>
  </form>
</div>
