<div class="flex flex-col h-full overflow-hidden">
  <div class="flex justify-between items-center mb-4">
    <div class="flex gap-4 items-center">
      <img src="/icons/document-text.svg" alt="Shopping Cart" class="w-[24px] h-[24px]" />
      <h2 class="text-h3 font-semibold">Current Order</h2>
    </div>
    <span class="text-h3 font-semibold">{{ orderProvider.totalItems() }} Items</span>
  </div>

  <ng-container *ngIf="orderProvider.orders().length > 0; else noOptions">
    <div class="flex-1 min-h-0 overflow-auto">
      <div *ngFor="let item of orderProvider.orders().slice()"
          class="bg-primary-black card text-left p-4 mb-3 rounded-lg flex flex-col space-y-2">
        <div class="flex items-center">
          <h3 class="font-semibold text-text-h3 flex-1 line-clamp-1">{{ item.name }}</h3>
          <img src="/icons/trash.svg" alt="Shopping trash" class="w-4 h-4"
              (click)="orderProvider.removeProduct(item.id)" />
        </div>

        <div class="flex items-center">
          <div class="flex items-center justify-between rounded-full border border-color-primary-white h-8 p-2 max-w-[78px] w-full">
            <button (click)="orderProvider.updateQuantity(item.id, item.quantity - 1)">-</button>
            <span class="text-text-b2">{{ item.quantity }}</span>
            <button (click)="orderProvider.updateQuantity(item.id, item.quantity + 1)">+</button>
          </div>
          <span class="text-text-h4 font-medium flex-1 text-right">{{ item.price | currencyFormat }}</span>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #noOptions>
    <div class="flex-1 card bg-primary-black flex flex-col items-center justify-center space-y-3 text-text-darkGray p-4 gap-2">
      <img src="/icons/bag.svg" alt="bag" />
      There are no item in your cart
    </div>
  </ng-template>
</div>
